<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<div class="container" style="margin-top: 10vmin;">


  <form
    style="padding: 80px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);font-family: 'Varela Round', sans-serif;"
    method="post" action='/choose_hosp/<%=myid %>'>

    <h1 style="font-family: 'Dancing Script', cursive;">Choose hospital</h1>
    <hr>

    <div style="margin-top: 10vmin;" class="form-group col-md-6">
      <% if (hospital.length==0) { %>
        <h2>No hospital available for this area, please go back!</h2>
        <% } else { %>
          <label for="inputHOSP">Choose hospital closest to you </label>
          <select id="inputHOSP" name="inputHOSP" class="form-control">
            <% for(var i=0;i<hospital.length;i++){ %>
              <% if( hospital[i].H_type==='G' ) hospital[i].H_type='Government' ; %>
                <% if( hospital[i].H_type==='P' ) hospital[i].H_type='Private' ; %>
                  <option class="form-group" value="<%= hospital[i].H_name %>">
                    <%= hospital[i].H_name %> - <%= hospital[i].H_type %>- <%= hospital[i].H_vac %>
                  </option>
                  <% }} %>
          </select>
    </div>

    <% if (hospital.length> 0) { %>
      <div class="row d-flex justify-content-between">
        <div class="col-md-8">
          <button style="margin: 3vmin 0 40px 16px" type="submit" class="btn btn-primary" style="width: 40%"
            onclick="myFunction()">Register</button>
        </div>
      </div>


      <h5 style="margin-left: 10px;display: inline;">Applicable for priority vaccine : </h5>
      <% if (pri=='Yes' ) { %>
        <h5 style="color: green;display: inline;">
          <%= pri %>
        </h5>
        <p style="margin-left: 10px;margin-top: 10px;"> Please contact customer support for further details. </p>
        <% } else if (pri=='No' ) { %>
          <h5 style="color: red;display: inline;">
            <%= pri %>
          </h5>
          <% } %>
            <% } %>
  </form>

</div>
<script>

  function myFunction() {
    var valx = document.getElementById('inputHOSP');
    if (valx.value === '') {
      alert("No Hospital available in your area");
    } else {
      alert("Success! You are now Registered for Vaccination! Please carry a Photo ID Proof at the time of Vacciantion.");
    }
  }

</script>
<script type="text/javascript" src="js/end.js"></script>
